.commentsMainContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
  max-width: 60rem;
  padding: 2rem;
  border: 1px solid rgba(156, 155, 155, 0.438);
  border-radius: 10px;
}

.commentAuthorInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.commentAuthorName {
  font-size: 1.2rem;
}

.commentBody {
  font-size: 1.4rem;
  padding-left: 3.7rem;
}
