.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0 3rem 0;
  width: 80%;
  max-width: 60rem;
  margin: 0 auto;
}

.mainTitle {
  font-size: 3.6rem;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}

.subTitle {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 480px) {
  .titleContainer {
    padding: 2rem 0 2rem 0;
    align-items: flex-start;
  }
  .mainTitle {
    font-size: 2.8rem;
  }
  .subTitle {
    font-size: 1.1rem;
  }
}
